[user]
	name = Scott Carrion
	email = scott.carrion@icloud.com
	signingKey = ~/.ssh/id_ed25519.pub
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
[core]
	hooksPath = ~/githooks
	excludesFile = ~/.gitignore
[gpg]
	format = ssh
[commit]
	gpgSign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

